<div class="dropdown">
  <input type="text" (click)="toggleDropdown()" [value]="selectedOption" readonly placeholder="Select an option" />
  <span *ngIf="selectedOption" (click)="clearSelection($event)" class="remove-icon">&times;</span>
  <div *ngIf="isDropdownOpen" [ngClass]="{'is-open': isDropdownOpen}" class="dropdown-content">
    <table>
      <thead>
        <th>header 1</th>
        <th>header 2</th>
      </thead>
      <tbody>
        <tr [ngClass]="{'selected-row': selectedOption === option}" *ngFor="let option of options"
          (click)="selectOption(option)">
          <td>{{ option }}</td>
          <td>{{ option }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>