.dropdown {
    position: relative;
    display: inline-block;
}


.is-open.dropdown-content {
    display: block;
}


// .dropdown-content tr:not(.selected-row):hover td {
//     background-color: #f1f1f1;
//     /* Change background color on hover */
// }

table {
    // border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #04AA6D;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

input[readonly] {
    cursor: pointer;
    padding-right: 30px;
    background: white url('../assets/images/download.svg') no-repeat right center;
    background-size: 16px 16px;
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fcfcff;
    padding: 6px;
    height: 35px;
    border-radius: 5px !important;
    border: 1px solid #a6a6a6 !important;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding: 0 10px 0 25px !important;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
    overflow: hidden;
}

.dropdown-content table {
    width: 100%;
}

.dropdown-content tr {
    border-bottom: 1px solid #ddd;
}

.dropdown-content tr:last-child {
    border-bottom: none;
}

.dropdown-content td {
    padding: 10px;
    cursor: pointer;
    text-align: left;
}

.remove-icon {
    position: absolute;
    right: 0;
    top: 50%;
    padding-right: 4px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 16px;
    height: 10px;
    line-height: 10px;
    color: #333;
    padding-top: 2px;
    padding-bottom: 2px;
}

.remove-icon:hover {
    color: #e00909;
    border: 1px solid #e00909;
    border-radius: 50%;
    padding-right: 3px;
    padding-left: 3px;
}

.selected-row {
    background-color: #ebf0ff !important;
}